APP_ENV=dev
LOG_DIR=/var/log/corrai
MINIO_ROOT_USER=corrai
MINIO_ROOT_PASSWORD=corrai_dev
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=corrai
S3_ACCESS_KEY=corrai
S3_SECRET_KEY=corrai_dev
EMAILER=log
EMAIL_SENDER=<Corrai>no-reply@corrai.local
HMAC_SECRET=Xamitchok!56
CLIENT_ORIGIN=http://localhost:5173
ERROR_LOG_FILE=/dev/stderr
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
